@page
@using ASE3040.Web.Pages.Shared.Components.ConfirmationDialog
@model ASE3040.Web.Pages.Itinerary.IndexModel
@{
    ViewData["Title"] = "Your Itineraries";
    const string dateFormat = "dd MMM yyyy hh:mm tt";
    const string dateOnlyFormat = "dd MMM yyyy";
}
@if (!Model.ModelState.IsValid)
{
    @await Component.InvokeAsync("ValidationAlert")
}
<div class="container my-3">
    <div class="d-flex justify-content-between align-items-end flex-wrap">
        <h2 class="mb-0 text-gray-800">@ViewData["Title"]</h2>
        <div>
            <a class="btn py-0" data-bs-toggle="modal" data-bs-target="#createModal">
                Add Activity
            </a>
        </div>
    </div>
    <hr/>
    <div class="row row-cols-1 row-cols-sm-2 g-3">
        @foreach (var item in Model.Itineraries)
        {
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <a class="h5" style="border-bottom: 2px dotted; text-decoration: none;" asp-page="Details" asp-route-id="@(item.Id.ToString())">
                            @Html.DisplayFor(x => item.Title)
                        </a>
                        @if (item.From.HasValue && item.To.HasValue)
                        {
                            <div class="text-muted mt-2">
                                <i class="far fa-calendar-alt fa-fw"></i>
                                <span class="ms-1">@item.From.Value.ToString(dateOnlyFormat)</span>
                                <span class="ms-1"> - </span>
                                <span class="ms-1">@item.To.Value.ToString(dateOnlyFormat)</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            <div class="mt-2">
                                <i class="far fa-sticky-note fa-fw"></i>
                                @Html.DisplayFor(x => item.Description)
                            </div>
                        }
                        @if (item.Budget.HasValue)
                        {
                            decimal expenses = item.Expenses ?? 0;
                            decimal budget = item.Budget ?? 0;
                            <div class="mt-2">
                                <i class="fas fa-money-check-alt fa-fw"></i>
                                @expenses.ToString("C") / @budget.ToString("C")
                            </div>
                        }
                        @if (item.LastModified.HasValue)
                        {
                            <div class="mt-2">
                                <small class="text-body-secondary">Last Modified @item.LastModified.Value.ToString(dateFormat)</small>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@* <div class="card shadow mb-4"> *@
@*     <div class="card-header py-3"> *@
@*         <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#createModal">Create</button> *@
@*     </div> *@
@*     <div class="card-body"> *@
@*         <div class="table-responsive"> *@
@*             <table id="IndexTable" class="table table-bordered"> *@
@*                 <thead> *@
@*                 <tr> *@
@*                     <th>#</th> *@
@*                     <th>Title</th> *@
@*                     <th>Start</th> *@
@*                     <th>End</th> *@
@*                     <th>Budget ($)</th> *@
@*                     <th>Expenses ($)</th> *@
@*                     <th>Modified</th> *@
@*                     <th></th> *@
@*                 </tr> *@
@*                 </thead> *@
@*                 <tbody> *@
@*                 @foreach (var item in Model.Itineraries) *@
@*                 { *@
@*                     <tr> *@
@*                         <td>@Html.DisplayFor(x => item.Id)</td> *@
@*                         <td>@Html.DisplayFor(x => item.Title)</td> *@
@*                         <td>@Html.DisplayFor(x => item.From)</td> *@
@*                         <td>@Html.DisplayFor(x => item.To)</td> *@
@*                         <td>@Html.DisplayFor(x => item.Budget)</td> *@
@*                         <td>@Html.DisplayFor(x => item.Expenses)</td> *@
@*                         <td>@Html.DisplayFor(x => item.LastModified)</td> *@
@*                         <td class="text-center"> *@
@*                             <div class="btn-toolbar flex-nowrap" role="toolbar"> *@
@*                                 <div class="btn-group me-2" role="group"> *@
@*                                     <a asp-page="Details" asp-route-id="@(item.Id.ToString())" class="btn border-0"> *@
@*                                         <i class="fa fa-pen icon text-primary"></i> *@
@*                                     </a> *@
@*                                 </div> *@
@*                                 <div class="btn-group me-2"> *@
@*                                     <button class="btn border-0" type="button" role="button" data-bs-toggle="modal" data-bs-target="#confirmationDialog_@(item.Id.ToString())"> *@
@*                                         <i class="fa fa-trash icon text-danger"></i> *@
@*                                     </button> *@
@*                                     @await Component.InvokeAsync("ConfirmationDialog", new ConfirmationDialogViewModel() *@
@*                                            { *@
@*                                                Id = item.Id.ToString(), *@
@*                                                PageHandler = "delete", *@
@*                                                Method = "post", *@
@*                                                Message = $"Delete '{item.Title}' itinerary?", *@
@*                                                RouteValues = *@
@*                                                { *@
@*                                                    { "Id", item.Id.ToString() } *@
@*                                                } *@
@*                                            }) *@
@*                                 </div> *@
@*                             </div> *@
@*                         </td> *@
@*                     </tr> *@
@*                 } *@
@*                 </tbody> *@
@*             </table> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* *@

<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content needs-validation" method="post" asp-page-handler="Create">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="staticBackdropLabel">Create new itinerary</h3>
                <button type="button" class="btn btn-outline-secondary border-0" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label asp-for="CreateInput.Title">Title</label>
                    <input class="form-control" asp-for="CreateInput.Title">
                    <span asp-validation-for="CreateInput.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CreateInput.Budget">Budget ($)</label>
                    <input class="form-control" asp-for="CreateInput.Budget">
                    <span asp-validation-for="CreateInput.Budget" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CreateInput.Description">Description</label>
                    <textarea class="form-control" asp-for="CreateInput.Description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
    $(document).ready(function() {
      $('#IndexTable').DataTable({
        columnDefs: [
            { orderable: false, targets: 7 }
        ]
      });
    });
    </script>
}

@* <!-- DataTales Example --> *@
@* <div class="card shadow mb-4"> *@
@*     <div class="card-header py-3"> *@
@* *@
@*         <h3>Create New Itinerary </h3> *@
@*         <form> *@
@*             <p> *@
@*                 <label>Place : <input type="text"/></label> *@
@*             </p> *@
@*             <p> *@
@*                 <label>Date : <input type="Date"/></label> *@
@*             </p> *@
@*             <p> *@
@*                 <label>Time : <input type="Time"/></label> *@
@*             </p> *@
@*             <p> *@
@*                 <label>Address : <input type="Address"/></label> *@
@*             </p> *@
@*             <p> *@
@*                 <input type="submit" name="submit" value="Submit"/> *@
@*             </p> *@
@*         </form> *@
@* *@
@*     </div> *@
@*     <div class="card-body"> *@
@*         <div class="table-responsive"> *@
@*             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> *@
@*                 <thead> *@
@*                 <tr> *@
@*                     <th>Place</th> *@
@*                     <th>Date</th> *@
@*                     <th>Time</th> *@
@*                     <th>Address</th> *@
@*                     <th>Changes</th> *@
@* *@
@*                 </tr> *@
@*                 </thead> *@
@*                 <tfoot> *@
@*                 <tr> *@
@*                     <th>Place</th> *@
@*                     <th>Date</th> *@
@*                     <th>Time</th> *@
@*                     <th>Address</th> *@
@*                     <th>Changes</th> *@
@*                 </tr> *@
@*                 </tfoot> *@
@*                 <tbody> *@
@*                 <tr> *@
@*                     <td>Chinatown</td> *@
@*                     <td>28 September 2023</td> *@
@*                     <td>10 AM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/VWAT9BJciR25SLUn9">Chinatown Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>Little India</td> *@
@*                     <td>28 September 2023</td> *@
@*                     <td>12 PM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/j8kPx4w32uEnFcYTA">Little India Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>Orchard Road</td> *@
@*                     <td>28 September 2023</td> *@
@*                     <td>3 PM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/5Sq81tumtxUdd3PH9">Orchard Road Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>Sentosa</td> *@
@*                     <td>28 September 2023</td> *@
@*                     <td>5 PM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/jjkHxPW6vNw2BS9k6">Sentosa Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>Marina Bay Sands</td> *@
@*                     <td>29 September 2023</td> *@
@*                     <td>10 AM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/jjkHxPW6vNw2BS9k6">Marina Bay Sands Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>Gardens By the Bay</td> *@
@*                     <td>29 September 2023</td> *@
@*                     <td>12 PM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/jjkHxPW6vNw2BS9k6">Gardens By the Bay Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>Lau Pa Sat</td> *@
@*                     <td>29 September 2023</td> *@
@*                     <td>1 PM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/jjkHxPW6vNw2BS9k6">Lau Pa Sat Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>Marina Barradge</td> *@
@*                     <td>29 September 2023</td> *@
@*                     <td>2 PM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/jjkHxPW6vNw2BS9k6">Marina Barradge Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>East Coast Park</td> *@
@*                     <td>30 September 2023</td> *@
@*                     <td>10 AM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/jjkHxPW6vNw2BS9k6">East Coast Park Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>Katong Road</td> *@
@*                     <td>30 September 2023</td> *@
@*                     <td>12 PM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/jjkHxPW6vNw2BS9k6">Katong Road Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@*                 <tr> *@
@*                     <td>Jewel</td> *@
@*                     <td>30 September 2023</td> *@
@*                     <td>2 PM</td> *@
@*                     <td> *@
@*                         <a href="https://maps.app.goo.gl/jjkHxPW6vNw2BS9k6">Jewel Address</a> *@
@*                     </td> *@
@*                     <td style="text-align: center;"> *@
@*                         <i class="fa fa-pen icon"></i> | <i class="fa fa-trash icon"></i> *@
@*                     </td> *@
@*                 </tr> *@
@* *@
@*                 </tbody> *@
@*             </table> *@
@*         </div> *@
@*     </div> *@
@* </div> *@